.c-button {
    background: linear-gradient(225deg, rgba(102,16,242,0.3) 0%, rgba(102,16,242,0) 100%);
    width: 23rem;
    height: 5.8rem;
    border: 0.5px solid $color-point;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
}