.c-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 400px;
    height: 100%;
    background-color: rgba(37, 23, 109, 0.206);
    padding: 4rem 2.6rem;
    gap: 1.6rem;
    border-radius: 8px;
}

.c-form .c-button {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 600;
}

