.header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .wrapper {
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: space-between;
    margin-block: 2rem 8rem;
}
.c-logo{
    width: 100px;
    height: 100px;
}
.main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.content-main{
  display: flex;   
  flex-direction: column;
  max-width: 800px;
  margin-right: 50px;
  gap: 2.5rem;
}

.c-bookmark {
    color: $color-point;
    text-shadow: 0px 0px 10px rgba($color-point, 0.7);
    filter: brightness(140%);
}