.section-fqa {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: $margin-bottom ;
    background-color: $background-secondary;
    margin-bottom: $margin-bottom;
}

.content-fqa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-fqa .accordeon {
    width: 60%;
}

.section-fqa .accordeon label {
    background-color: $background-primary;
}

// 768px

@media only screen and (max-width: 768px) {
    .content-fqa .accordeon {
        width: 80%;
    }
    
  }

  // 425px

@media only screen and (max-width: 425px) {
    .content-fqa .accordeon {
        width: 90%;
    }
    .content-fqa .accordeon label {
       font-size: 1.8rem;
    }
    
  }