
.section-services {
    display: flex;
    margin-bottom: $margin-bottom;
    width: 100vw;
    justify-content: center;
    background-color: $background-primary;
    
    h1 {
        font-weight: 500;
    }

    p {
        font-weight: 400;
        opacity: .9;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center; 
   }

    .c-button {
        margin-top: $margin-bottom;
        width: 40%;
    }
}
.container-services{
    display: flex;
    width: 100%;
    gap: 10%;
    justify-content: center;
    align-items: center;

}
.section-services li{
    list-style: initial;
    margin-left: 100px
}

.section-services li::marker{
    color: $color-point;
    box-shadow: $box-shadow;
    filter: brightness(140%);
}
.content-services{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
}

// 1024px

@media only screen and (max-width: 1024px){
   .section-services .c-button {
        margin-top: 0px;
        
    }
}

// 425px

@media only screen and (max-width: 425px){
   .container-services {
    flex-direction: column;
   }

   .content-services {
    width: 100%;
   }

   .container-services .accordeon {
    width: 90%;
    margin-block: 4rem;
   }

   .container-services .accordeon label{
    font-size: 1.8rem;
   }

   .section-services .c-button {
    width: 100%;
   }
   .section-services .wrapper {
    align-items: flex-start;
   }

   .section-services li{
    margin-left: 80px
    }
 }

 @media only screen and (max-width: 320px){
    .section-services li{
        margin-left: 40px
        }
 }