*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Saira', sans-serif;
    background-color: $background-primary;
}
ul, li, a, textarea{
    color: $color-w;
    list-style: none;
    text-decoration: none;
    text-decoration-color: none;
    
}
html{
    scroll-behavior: smooth;
    color: white;
}


:root {
    // --border-bottom:0.1px solid rgba(255, 255, 255, 0.150);

    font-size: 62.5%;
}

.wrapper {
    display: flex;
    width: 80vw;
    height: 100%;
    justify-content: center;
}

.c-title{
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 1.2;

}
.c-subtitle{
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.4;

}

.c-paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;

}

.c-bookmark {
    color: $color-point;
    text-shadow: 0px 0px 10px rgba($color-point, 0.7);
    filter: saturate(2);
    font-weight: 600;
}


// 1024px

@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 90vw;
    }
    
    .c-title{
        font-size: 4rem;   
    }
    .c-subtitle{
        font-size: 2.6rem;   
    }
    
    .c-paragraph {
        font-size: 1.6rem;    
    }
  }

  // 768px

  @media only screen and (max-width: 768px) {
    
    .c-title{
        font-size: 3.6rem;   
    }
    .c-subtitle{
        font-size: 2.2rem;   
    }
    
  }

   // 425px

   @media only screen and (max-width: 425px) {
    
    .c-title{
        font-size: 3rem;   
    }
    .c-subtitle{
        font-size: 2rem;   
    }
    
  }