* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Saira", sans-serif;
  background-color: #080713;
}

ul, li, a, textarea {
  color: white;
  list-style: none;
  text-decoration: none;
  text-decoration-color: none;
}

html {
  scroll-behavior: smooth;
  color: white;
}

:root {
  font-size: 62.5%;
}

.wrapper {
  display: flex;
  width: 70vw;
  height: 100%;
  justify-content: center;
}

.c-title {
  font-size: 4.8rem;
  font-weight: 600;
}

.c-subtitle {
  font-size: 2.8rem;
  font-weight: 500;
}

.c-paragraph {
  font-size: 1.6rem;
  font-weight: 400;
}

.c-bookmark {
  color: #6610f2;
  text-shadow: 0px 0px 10px rgba(102, 16, 242, 0.7);
  filter: brightness(140%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .wrapper {
  display: flex;
  width: 70vw;
  align-items: center;
  justify-content: space-between;
  margin-block: 2rem 8rem;
}

.c-logo {
  width: 100px;
  height: 100px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.content-main {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-right: 50px;
  gap: 2.5rem;
}

.c-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 400px;
  height: 100%;
  background-color: rgba(37, 23, 109, 0.206);
  padding: 4rem 2.6rem;
  gap: 1.6rem;
  border-radius: 8px;
}

.c-input {
  width: 100%;
  height: 5rem;
  border: 1px solid #6610f2;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 1.6rem;
  color: white;
}

#textareaForm {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.c-button {
  background: linear-gradient(225deg, rgba(102, 16, 242, 0.3) 0%, rgba(102, 16, 242, 0) 100%);
  width: 23rem;
  height: 5.8rem;
  border: 0.5px solid #6610f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}

.c-button:hover {
  box-shadow: 0px 0px 10px rgba(102, 16, 242, 0.7);
  scale: 1.03;
  transition: 0.3s;
}

.section-about {
  display: flex;
  margin-top: 6rem;
  width: 100vw;
  justify-content: center;
  background-color: rgba(19, 18, 36, 0.7529411765);
}

.img-container-about {
  height: 700px;
  width: 40%;
  display: flex;
  justify-content: center;
  position: relative;
}

.circle1 {
  width: 700px;
  height: 700px;
  position: absolute;
  top: -100px;
  z-index: -1;
}

.img-about {
  width: 500px;
  height: 100%;
}

.content-article-about {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 20px;
}

.container-card-about {
  display: flex;
  width: 100%;
  gap: 5%;
}

.c-card-about {
  display: flex;
  flex-direction: column;
  background-color: rgba(37, 23, 109, 0.2);
  width: 33%;
  height: 100%;
  padding: 20px 15px;
  text-align: center;
  border-radius: 8px;
}

.section-services {
  display: flex;
  margin-block: 6rem;
  width: 100vw;
  justify-content: center;
  background-color: #080713;
}
.section-services h1 {
  font-weight: 500;
}
.section-services p {
  font-weight: 400;
  opacity: 0.9;
}
.section-services .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-services .c-button {
  margin-top: 6rem;
  width: 40%;
}

.container-services {
  display: flex;
  width: 100%;
  gap: 10%;
}

.section-services li {
  list-style: initial;
  margin-left: 100px;
}

.content-services {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 25px;
}

.accordeon {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 40%;
}

.accordeon label {
  display: block;
  padding-block: 1.5rem;
  padding-left: 3rem;
  font-weight: 700;
  font-size: 2.2rem;
  background: rgba(19, 18, 36, 0.7529411765);
  color: #f5f5f5;
  cursor: pointer;
  border-bottom: 1px solid #6610f2;
  border-radius: 8px;
}

.accordeon label:hover {
  background: linear-gradient(225deg, rgba(102, 16, 242, 0.3) 0%, rgba(102, 16, 242, 0) 100%);
  box-shadow: 0px 0px 10px rgba(102, 16, 242, 0.7);
}

.accordeon .panel {
  height: 0;
  visibility: hidden;
  opacity: 0;
  background: linear-gradient(225deg, rgba(102, 16, 242, 0.3) 0%, rgba(102, 16, 242, 0) 100%);
  color: #f0f0f0;
}

/* Hide checkboxes  */
.accordeon input[type=checkbox] {
  display: none;
}

/* Show .panel for corresponding to checked */
.accordeon input[type=checkbox]:checked + .panel {
  height: auto;
  visibility: visible;
  opacity: 1;
  padding: 1.5em;
}