* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Saira", sans-serif;
  background-color: #080713;
}

ul, li, a, textarea {
  color: white;
  list-style: none;
  text-decoration: none;
  text-decoration-color: none;
}

html {
  scroll-behavior: smooth;
  color: white;
}

:root {
  font-size: 62.5%;
}

.wrapper {
  display: flex;
  width: 80vw;
  height: 100%;
  justify-content: center;
}

.c-title {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2;
}

.c-subtitle {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.4;
}

.c-paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.c-bookmark {
  color: #6610f2;
  text-shadow: 0px 0px 10px rgba(102, 16, 242, 0.7);
  filter: saturate(2);
  font-weight: 600;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 90vw;
  }
  .c-title {
    font-size: 4rem;
  }
  .c-subtitle {
    font-size: 2.6rem;
  }
  .c-paragraph {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 768px) {
  .c-title {
    font-size: 3.6rem;
  }
  .c-subtitle {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 425px) {
  .c-title {
    font-size: 3rem;
  }
  .c-subtitle {
    font-size: 2rem;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 2rem 8rem;
}

.header .wrapper .c-button {
  font-size: 1.6rem;
  font-weight: 600;
}

.c-logo {
  width: 100px;
  height: 100px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.container-main {
  display: flex;
}

.content-main {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 5%;
  gap: 2.5rem;
}

.content-form {
  width: 40%;
}

@media only screen and (max-width: 425px) {
  .header .wrapper {
    margin-block: 2rem 0rem;
  }
  .header .wrapper .c-button {
    width: 18rem;
    font-size: 1.4rem;
  }
  .container-main {
    flex-direction: column;
  }
  .content-main {
    width: 100%;
    height: 70vh;
    gap: 2rem;
    justify-content: center;
  }
  .content-form {
    width: 90%;
  }
}
@media only screen and (max-width: 320px) {
  .header .wrapper .c-button {
    width: 15rem;
    font-size: 1.4rem;
    display: flex;
    text-align: center;
  }
}
.c-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  min-width: 290px;
  height: 100%;
  background-color: rgba(37, 23, 109, 0.206);
  padding: 4rem 2.6rem;
  gap: 1.6rem;
  border-radius: 8px;
}

.c-form .c-button {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
}

.content-form label {
  width: 100%;
}

.c-input {
  width: 100%;
  height: 5rem;
  border: 1px solid #6610f2;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 1.6rem;
  color: rgba(255, 255, 255, 0.896);
  font-size: 1.4rem;
  font-weight: 600;
}

#textareaForm {
  padding: 1rem;
  height: 10rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.c-button {
  background: linear-gradient(225deg, rgba(102, 16, 242, 0.3) 0%, rgba(102, 16, 242, 0) 100%);
  width: 23rem;
  height: 5.8rem;
  border: 0.5px solid #6610f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}

.c-button:hover {
  box-shadow: 0px 0px 10px rgba(102, 16, 242, 0.7);
  scale: 1.03;
  transition: 0.3s;
}

.section-about {
  display: flex;
  margin-block: 6rem;
  width: 100vw;
  justify-content: center;
  background-color: rgba(19, 18, 36, 0.7529411765);
}

.container-about {
  display: flex;
}

.img-container-about {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100px;
  z-index: -1;
}

.img-about {
  width: 100%;
  height: 610px;
  background-image: url("assets/mulher-negra-negocios.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.content-article-about {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0 15px 20px;
  gap: 20px;
}

.container-card-about {
  margin-top: 6rem;
  display: flex;
  width: 100%;
  gap: 5%;
}

.c-card-about {
  display: flex;
  flex-direction: column;
  background-color: rgba(37, 23, 109, 0.2);
  width: 32%;
  min-height: 100px;
  padding: 20px 15px;
  text-align: center;
  border-radius: 8px;
}

@media only screen and (max-width: 1024px) {
  .container-card-about {
    gap: 2%;
    margin-top: 2rem;
  }
  .container-card-about .c-subtitle {
    font-size: 2.2rem;
  }
  .container-card-about .c-paragraph {
    font-size: 1.4rem;
  }
  .img-about {
    height: 570px;
  }
}
@media only screen and (max-width: 768px) {
  .img-about {
    height: 600px;
  }
}
@media only screen and (max-width: 425px) {
  .container-about {
    flex-direction: column-reverse;
  }
  .img-about {
    height: 400px;
  }
  .img-container-about {
    width: 100%;
  }
  .container-about {
    width: 100%;
  }
  .content-article-about {
    width: 100%;
    padding: 2rem 0;
  }
}
.section-services {
  display: flex;
  margin-bottom: 6rem;
  width: 100vw;
  justify-content: center;
  background-color: #080713;
}
.section-services h1 {
  font-weight: 500;
}
.section-services p {
  font-weight: 400;
  opacity: 0.9;
}
.section-services .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-services .c-button {
  margin-top: 6rem;
  width: 40%;
}

.container-services {
  display: flex;
  width: 100%;
  gap: 10%;
}

.section-services li {
  list-style: initial;
  margin-left: 100px;
}

.section-services li::marker {
  color: #6610f2;
  box-shadow: 0px 0px 10px rgba(102, 16, 242, 0.7);
  filter: brightness(140%);
}

.content-services {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 25px;
}

@media only screen and (max-width: 1024px) {
  .section-services .c-button {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 425px) {
  .container-services {
    flex-direction: column;
  }
  .content-services {
    width: 100%;
  }
  .container-services .accordeon {
    width: 90%;
    margin-block: 4rem;
  }
  .container-services .accordeon label {
    font-size: 1.8rem;
  }
  .section-services .c-button {
    width: 90%;
  }
  .section-services .wrapper {
    align-items: flex-start;
  }
  .section-services li {
    margin-left: 80px;
  }
}
@media only screen and (max-width: 320px) {
  .section-services li {
    margin-left: 40px;
  }
}
.accordeon {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 40%;
}

.accordeon label {
  display: block;
  padding-block: 1.5rem;
  padding-inline: 3rem 1rem;
  font-weight: 700;
  font-size: 2.2rem;
  background: rgba(19, 18, 36, 0.7529411765);
  color: #f5f5f5;
  cursor: pointer;
  border-bottom: 1px solid #6610f2;
  border-radius: 8px;
}

.accordeon label:hover {
  background: linear-gradient(225deg, rgba(102, 16, 242, 0.3) 0%, rgba(102, 16, 242, 0) 100%);
  box-shadow: 0px 0px 10px rgba(102, 16, 242, 0.7);
}

.accordeon .panel {
  height: 0;
  visibility: hidden;
  opacity: 0;
  background: linear-gradient(225deg, rgba(102, 16, 242, 0.3) 0%, rgba(102, 16, 242, 0) 100%);
  color: #f0f0f0;
}

/* Hide checkboxes  */
.accordeon input[type=checkbox] {
  display: none;
}

/* Show .panel for corresponding to checked */
.accordeon input[type=checkbox]:checked + .panel {
  height: auto;
  visibility: visible;
  opacity: 1;
  padding: 1.5em;
  transition: 0.5s;
}

.section-fqa {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 6rem;
  background-color: rgba(19, 18, 36, 0.7529411765);
  margin-bottom: 6rem;
}

.content-fqa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-fqa .accordeon {
  width: 60%;
}

.section-fqa .accordeon label {
  background-color: #080713;
}

@media only screen and (max-width: 768px) {
  .content-fqa .accordeon {
    width: 80%;
  }
}
@media only screen and (max-width: 425px) {
  .content-fqa .accordeon {
    width: 90%;
  }
  .content-fqa .accordeon label {
    font-size: 1.8rem;
  }
}
.section-call {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.container-section-call {
  display: flex;
  width: 100%;
  gap: 10%;
}

.content-call {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: left;
  gap: 1rem;
}

.box-call {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5rem 3rem;
  width: 50%;
  background-color: rgba(37, 23, 109, 0.206);
  border-radius: 8px;
  font-weight: 500;
}
.box-call .c-button {
  width: 100%;
}

.icon-alert {
  width: 100px;
  height: 100px;
  margin-left: 150px;
}

@media only screen and (max-width: 1024px) {
  .icon-alert {
    margin-left: 120px;
  }
}
@media only screen and (max-width: 768px) {
  .icon-alert {
    margin-left: 100px;
  }
  .box-call .c-button {
    text-align: center;
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 425px) {
  .container-section-call {
    flex-direction: column;
  }
  .content-call {
    width: 100%;
    margin-bottom: 4rem;
    text-align: center;
  }
  .box-call {
    width: 100%;
    padding: 3rem 3rem;
    gap: 3rem;
  }
  .icon-alert {
    margin-left: 150px;
  }
  .box-call .c-button {
    text-align: center;
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 375px) {
  .icon-alert {
    margin-left: 120px;
  }
}
@media only screen and (max-width: 375px) {
  .icon-alert {
    margin-left: 100px;
  }
}
.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(19, 18, 36, 0.7529411765);
  padding-block: 4rem;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials-icons img {
  width: 40px;
}